<section id="bdd" class="slide">
  <div class="vcenter">
    <h1>BDD</h1>
  </div>
</section>

<section class="slide" id="bdd-in-short">
  <h2>Behaviour-driven Development</h2>
  <p>It is about implementing an application by describing its behaviour from the perspective of its stakeholders.</p>
  <ul>
    <li class="slide" id="bdd-in-short-1">Combines the general techniques and principles of TDD</li>
    <li class="slide" id="bdd-in-short-2">... with ideas from domain-driven design</li>
    <li class="slide" id="bdd-in-short-3">... and object-oriented analysis and design</li>
    <li class="slide" id="bdd-in-short-4">Provides software development and management teams with shared tools and a shared process to collaborate on software development</li>
  </ul>
</section>

<section class="slide" id="bdd-howto">
  <h2>How to develop based on behaviour?</h2>
  <ul>
    <li class="slide" id="bdd-howto-1">Ask PM for a use cases and user story</li>
    <li class="slide" id="bdd-howto-2">Ask "Why?" as many times as you need</li>
    <li class="slide" id="bdd-howto-3">When everything is clear start implementing...</li>
    <li class="slide" id="bdd-howto-4">... tests to make sure that user story is tested</li>
    <li class="slide" id="bdd-howto-5">... use principles from TDD</li>
  </ul>
</section>

<section class="slide" id="bdd-circle">
  <h2>BDD Circle</h2>
  <img class="bdd-cycle" src="/assets/testing/bdd-cycle-around-tdd-cycles.png" />
</section>

<section class="slide" id="bdd-user-story-example">
  <h2>How can user story look like?</h2>

  <p class="slide" id="bdd-use-1">
    As a user <i class="slide" id="bdd-use-1">(a 'person' or 'character')</i><br />
    I want to add a new mac book pro to the shopping cart <i class="slide" id="bdd-use-1">(describe what the character wants)</i><br/>
    So I can check it out later <i class="slide" id="bdd-use-1">(the motivation or the reason, why character wants to do so)</i>
  </p>
</section>

<section class="slide" id="bdd-whys">
  <h2>5 Whys</h2>
  <p>Is an iterative question-asking technique used to explore the cause-and-effect relationships underlying a particular problem.</p>

  <h3 class="slide" id="bdd-whys-purpose">So keep asking "Why?" if you really want to implement helpful behaviour.</h3>
</section>
