<section id="general" class="slide">
  <div class="vcenter">
    <h1>Let's think of "Testing" in general...</h1>
  </div>
</section>

<%= partial :'testing/general/irl' %>
<%= partial :'testing/general/not-implemented' %>
<%= partial :'testing/general/value' %>
