<section id="no-testing" class="slide">
  <div class="vcenter">
    <h1>When is there no need to write tests</h1>
  </div>
</section>

<section id="no-testing-when" class="slide">
  <h2>When is there no need to write tests?</h2>
  <p>On some occasions it might save time. But do it reasonably.</p>
  <ul>
    <li id="no-testing-when-1" class="slide">Simple script (5-50 lines)</li>
    <li id="no-testing-when-2" class="slide">A prototype (don't let it get to staging environment without tests)</li>
    <li id="no-testing-when-3" class="slide">No way of automatic testing... or some parts can't be tested</li>
  </ul>
</section>

<section id="no-testing-rare-cases" class="slide">
  <h2>There are some cases when tests were helping...</h2>
  <ul>
    <li id="no-testing-rare-cases-1" class="slide">Data migration scripts</li>
    <li id="no-testing-rare-cases-2" class="slide">Backup class</li>
    <li id="no-testing-rare-cases-3" class="slide">A CLI utility for HTTP monitoring</li>
  </ul>
</section>
