<section id="seeding-data" class="slide">
  <div class="vcenter">
    <h1>Seeding data</h1>
  </div>
</section>

<section class="slide" id="seeding-data-approaches">
  <h2>One of main preparations - data seeding.</h2>
  <ul>
    <li class="slide" id="seeding-data-approaches-sql">Just run an SQL command(s)</li>
    <li class="slide" id="seeding-data-approaches-yaml">Take data from YAML files</li>
    <li class="slide" id="seeding-data-approaches-factory">Use special "factory" classes to generate data</li>
    <li class="slide" id="seeding-data-approaches-random">Random or hard-coded data, what would be the best?</li>
  </ul>
</section>

