<section id="getting-together" class="slide">
  <div class="vcenter">
    <h1>Getting everything together</h1>
  </div>
</section>

<section id="getting-together-scenario" class="slide">
  <h1>How I start developing products?</h1>
  <ul>
    <li>Gather user-stories. Ask questions. Think of domain in general</li>
    <li>Get the page mockups or API blueprints</li>
    <li>Write first <strong>Acceptance tests</strong></li>
    <li>Start implementing details</li>
    <li>Write <strong>Unit tests</strong> for classes</li>
    <li>Make the first acceptance and unit tests pass</li>
    <li>Implement persistance by adding "tests-first"</li>
    <li>Refactor!</li>
  </ul>
</section>
