<section id="getting-together" class="slide">
  <div class="vcenter">
    <h1>Getting everything together</h1>
  </div>
</section>

<section id="getting-together-scenario" class="slide">
  <h2>How I start developing products?</h2>
  <ul>
    <li class="slide" id="getting-together-scenario-1">Gather user-stories. Ask questions. Think of domain in general</li>
    <li class="slide" id="getting-together-scenario-2">Get the page mockups or API blueprints</li>
    <li class="slide" id="getting-together-scenario-3">Write first <strong>Acceptance tests</strong></li>
    <li class="slide" id="getting-together-scenario-4">Start implementing details</li>
    <li class="slide" id="getting-together-scenario-5">Write <strong>Unit tests</strong> for classes</li>
    <li class="slide" id="getting-together-scenario-6">Make the first acceptance and unit tests pass</li>
    <li class="slide" id="getting-together-scenario-7">Implement persistance by adding "tests-first"</li>
    <li class="slide" id="getting-together-scenario-8">Refactor!</li>
  </ul>
</section>
