<section id="types" class="slide">
  <div class="vcenter">
    <h1>The types of tests</h1>
  </div>
</section>

<%= partial :'testing/types/unit' %>
<%= partial :'testing/types/integration' %>

<section id="testing-is-fractal" class="slide">
  <div class="vcenter">
    <h1>Have you seen similarity in Unit and Integration?</h1>
  </div>
</section>

<section id="testing-is-infinit" class="slide">
  <div class="vcenter">
    <h1>&infin;</h1>
  </div>
</section>
