<section class="slide" id="structure">
  <h2>So how the test looks like?</h2>
  <ol>
    <li class="slide" id="structure-step-1">Setup</li>
    <li class="slide" id="structure-step-2">Do an action</li>
    <li class="slide" id="structure-step-3">See results</li>
  </ol>

  <h2 class="slide" id="structure-easy">Like a piece of cake? ;)</h2>
</section>

<section class="slide" id="structure-setup">
  <h2>1. How to setup?</h2>
  <p class="slide" id="structure-setup-prepare">
    Put everything into initial state:
    <ul class="slide">
      <li>Clean environment</li>
      <li>Load data</li>
    </ul>
  </p>
  <h3 class="slide" id="structure-setup-each-test">Do it for each test!</h3>
</section>

<section class="slide" id="structure-action">
  <h2>2. Calling a method... what can be easier?</h2>
  <p class="slide" id="structure-action-call">
    However, "action" is not "action<strong>s</strong>".
    <ul class="slide">
      <li>One action per test</li>
      <li>Should be seen clearly</li>
    </ul>
  </p>
</section>

<section class="slide" id="structure-verify">
  <h2>3. And verify</h2>
  <p class="slide" id="structure-verify-howto">
    The Golden Rule: one assertion per test.
    <ul class="slide">
      <li>One assertion per test</li>
      <li>The failure message is clear</li>
      <li>No changes to the tested object while asserting</li>
      <li>... or anywhere else</li>
    </ul>
  </p>
</section>

<section class="slide" id="structure-verify-assertions">
  <h2>Why can't I do a lot of assertions?</h3>
  <h2 class="slide" id="structure-verify-assertions-lot-of">
    To see what is exactly broken.
  </h2>
</section>

<section class="slide" id="structure-next">
  <h2>What is after the verification?</h3>
  <h2 class="slide" id="structure-next-clean">
    Back to point one. But the environment must be clean.
  </h2>
</section>
