<section id="irl" class="slide">
  <h2>Testing in real life</h2>
  <ul>
    <li class="slide" id="irl-exampel-1">
      <p>What are you testing, when you leave your apartment?</p>
    </li>
    <li class="slide" id="irl-exampel-2">
      <p>What are you testing, when you about to drive a car?</p>
    </li>
    <li class="slide" id="irl-what-is-common">
      <p>What is the common in all those cases?</p>
    </li>
  </ul>
  <p class="slide" id="irl-the-common-is">The common is: you think before doing.</p>
</section>

<section class="slide" id="irl-what-is-it-giving">
  <h2>What does the testing gives to you?</h2>
  <ul>
    <li class="slide" id="irl-makes-think">Makes you think first</li>
    <li class="slide" id="irl-common-behaviour">Provides common behaviour and habits</li>
    <li class="slide" id="irl-gives-confidence">And gives confidence in what you are doing</li>
  </ul>
</section>

<section class="slide" id="irl-dev">
  <h2>Wait a minute? Isn't this lecture about Software Development?!</h2>
  <h3 class="slide" id="irl-dev">It is!</h3>
  <ul>
    <li class="slide" id="irl-dev-think">"Test-first" makes you think and analyze</li>
    <li class="slide" id="irl-dev-habits">"Writing tests every day" trains your habits to write tests</li>
    <li class="slide" id="irl-dev-confidence">"Having a test suit" lets you experiment and not afraid of changes</li>
  </ul>
</section>

<section class="slide" id="irl-stability">
  <h2>If it works - don't touch!</h2>
  <p class="slide" id="irl-stability-good">Stability is good: thing just work</p>
  <p class="slide" id="irl-stability-bad">Stability is bad: you can't just change things</p>
  <p class="slide" id="irl-changes-bad">Changes are bad: they ruin working things</p>
  <p class="slide" id="irl-changes-good">Changes are good: you create something new</p>
</section>

<section class="slide" id="irl-stability-choose">
  <h2>What would you choose: stability or changes?</h2>
  <h3 class="slide" id="irl-stability-i-will-choose">I'd choose safe changes!</h3>
</section>
