<section class="slide" id="not-implemented">
  <h2>What are criteria of job, that is done?</h2>
  <ul>
    <li class="slide" id="not-implemented-criterion-1">I can test it.</li>
  </ul>
  <h3 class="slide" id="not-implemented-how-shall-i-test">How many times shall I test?</h3>
</section>
