<section class="slide" id="value-dev-0">
  <h2>What do tests actually provide?</h2>
  <ul>
    <li class="slide" id="value-design">
      <h3>Design and Architecture</h3>
      <p>Think before doing. Simple things are tested in a simple way.</p>
    </li>
    <li class="slide" id="value-doc">
      <h3>Documentation</h3>
      <p>No one likes to write docs. So they are inconsistent and not relevant at the end of the day.</p>
    </li>
    <li class="slide" id="value-examples">
      <h3>Examples of usage</h3>
      <p>So I can go and see how this class can be used and what are the methods behaviour.</p>
    </li>
  </ul>
</section>

<section class="slide" id="value-dev-1">
  <h2>What do tests actually provide?</h2>
  <ul>
    <li class="slide" id="value-mvp">
      <h3>Minimum Valuable set of features</h3>
      <p>Features implemented one by one, listed by sets of tests. And each of tests indicate the job needs to be done.</p>
    </li>
    <li class="slide" id="value-protection">
      <h3>Feeling of confidence</h3>
      <p>Adding new features, without fear of "side-effects". Refactoring starts from here.</p>
    </li>
    <li class="slide" id="value-velocity">
      <h3>Debug and fix errors faster</h3>
      <p>Write test, that reproduces a bug, find the bug, fix it. ... PROFIT!</p>
    </li>
    <li class="slide" id="value-motivation">
      <h3>One big journey starts from a single <del>step</del> test</h3>
      <p>Write a test, make it pass, refactor it, repeat. All the big systems start with a first test.</p>
    </li>
  </ul>
</section>

<section class="slide" id="value-biz-0">
  <h2>Concerns of business?</h2>
  <ul>
    <li class="slide" id="value-time-consuming">
      <h3>Is it adds more time for development?</h3>
      <p>Yes, it does.</p>
    </li>
    <li class="slide" id="value-growing-volume-of-code">
      <h3>Is the volume of code increases?</h3>
      <p>Yes, it does.</p>
    </li>
    <li class="slide" id="value-adding-to-legacy">
      <h3>We have a product already running. Do we really need to have those tests?</h3>
      <p>Yes, you are.</p>
    </li>
  </ul>
</section>

<section class="slide" id="value-biz-1">
  <h2>What is the value to the business?</h2>
  <ul>
    <li class="slide" id="value-save-time">
      <h3>Save time</h3>
      <p>Initial code + tests takes less time, as the developers don't do any manual checks and adding of data. Later, it is easy to find problems and collaborate.</p>
    </li>
    <li class="slide" id="value-tests-are-code">
      <h3>Code of tests is valuable</h3>
      <p>As in first point, everything, that helps to deliver more stuff saves money. And code of tests has even more value, than actual program code.</p>
    </li>
    <li class="slide" id="value-add-tests-to-legacy">
      <h3>Ensuring, that everything really works</h3>
      <p>If a software has no tests, add them, so you confident in a requirements, it supports.</p>
    </li>
  </ul>
</section>
